{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Your Twitter feed.</h1>

    <ul id="twitter-feed" class="collection">

        <li class="collection-item avatar" v-for="tweet in tweets">

            <i class="mdi-editor-insert-comment circle"></i>

            <span class="title">${ tweet.user.name }</span>

            <p>${ tweet.text }</p>

        </li>

    </ul>

    <p><a href="/" class="waves-effect waves-light btn">Back to the home page</a></p>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            delimiters: ['${', '}'],
            el: "#twitter-feed",
            data: {
                tweets: {{ tweets|raw }}
            },
            created: function () {
                var self = this;

                setTimeout(function interval() {
                    axios.get('/twitter/list/update/').then(function (response) {
                        self.tweets = response.data;
                    });

                    setTimeout(interval, 1000 * 30)
                }, 1000 * 30);
            }
        });
    </script>
{% endblock %}
