{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Error: 404</h1>

    <p>Method Not Allowed</p>

    <p><a href="/" class="waves-effect waves-light btn">Back to the home page</a></p>

{% endblock %}
