{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Hi!</h1>

    <p>Please select social network, which you'll listen.</p>

    <p><a href="/twitter/auth/" class="btn">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></p>

{% endblock %}
